
#Pipeline name 
name: SMALLSCREEN

# this is the main part to auto trigger the pipeline.
on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn  package --file pom.xml


    - name: Upload build output
      uses: actions/upload-artifact@v4
      with:
        name: FirstTRYY
        path: target/*.jar
        

    - name: Trivy Fs scan
      run: |
       trivy fs --format table -o trivy-fs-report.html .


    - name: SonarQube- scan
      uses: sonarsource/sonarqube-scan-action@master
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

    - name: Install jq
      run: |
        sudo apt get update 
        sudo apt install -y jq

    - name: Sonar Quality check
      id: sonarqube-quality-gate-check
      uses: sonarsource/sonarqube-quality-gate-action@master
      # force to fail
      timeout-minutes: 5
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}


        
        
      

  
       

        
    
    




         
