# 1st pipeline

name: Smallscreen-pipeline

on:
 push:
    branches: [ "feature-DEV" ]


jobs:
    build:
      runs-on: self-hosted

      steps:
       
        - name: MAHI-GIT-CHECKOUT
          uses: actions/checkout@v4

        
        
