# 1st pipeline

name: Smallscreen-pipeline

on:
 push:
    branches: [ "feature-DEV" ]


jobs:
    build:
      runs-on: self-hosted

      steps:
       
        - name: MAHI-GIT-CHECKOUT
          uses: actions/checkout@v4

        - name: JAVA INSTALLING
          uses: actions/setup-java@v4
          with:
            java-version: '17'
            distribution: 'temurin'

            # here mvn package --file pom.xml we can include
        - name: BUILD WITH MAVEN
          run: |
            mvn package 
            
        - name: Uploading the artifact to REPO
          uses: actions/upload-artifact@v4
          with:
            name: FirstTRYY-artifact
            path: target/* .jar

        
     
        

         
            

        

        
        
